<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="alternate" type="application/rss+xml" title="FlamingKeys - Active Directory, Office 365, PowerShell" href="/feed.xml"
    />
    <link rel="canonical" href="{{ page.redirect.to }}" />
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
</head>

<body>

    <p>Redirecting you to <a href="{{ page.redirect.to }}">{{ page.redirect.to }}</a>. Click <a href="{{ page.redirect.to }}">here</a>        if you are not redirected.</p>

</body>

</html>